<launch>
  <!--node pkg="tf" type="static_transform_publisher" name="kinect2_tf" required="true" args="0.01 0.4 0.165 0 0 0 1.0 /yumi_base_link /kinect2_nonrotated_link 100"/-->
  <node pkg="tf" type="static_transform_publisher" name="rgb_tf" required="true" args="0.2013 0.0641 0.6934 -0.0238 0.4836 -0.0141 0.875 /yumi_base_link /camera_link 100"/>

  <!-- Launch YuMi MoveIt client -->
  <include file="$(find yumi_moveit_config)/launch/moveit_planning_execution.launch">
    <!--arg name="rviz_file" value="$(find motion_intent)/rviz/motion_intent.rviz"/-->
  </include>
</launch>
